{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Edit the article</h2>
    <form action="/edit/{{ get_slug }}" method="post">
        
        <div class="mb-3">
            <label for="title" class="form-label">Article Title</label>
            <textarea id="title" name="title" rows="1" class="form-control" placeholder="Write your article here..." required>{{ post.title }}</textarea>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Article Content</label>
            <textarea id="content" name="content" rows="10" class="form-control" placeholder="Write your article here..." required> {{ post.content_html }} </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit Article</button>
    </form>
</div>

{% endblock %}